
.hero {
  background: #fff;
  position: relative;
  overflow: hidden;

}
@media (min-width: 1200px){
  .hero{
   position: relative;
   }
 
 }
.back{
  position: absolute;
  right: -169px;
  top: -215px;
  width: 600px;
  height: 450px;
  background: #dfb463a7;
   transform: rotate(-41deg);
}
.banner{
  padding: 40px 0;
  text-align: center;
position: relative;
}
.hero h1{
  font-size: 40px;
  font-weight: 800;
}
.hero p{
  font-size: 30px;
  font-weight: 800;
}
.hero .highlight {
  color: #ff4081;
  position: relative;
}
.highlight span{
  position: relative;
  z-index: 1;
}
 .highlight::before {
  content: '';
  position: absolute;
  left: -4px;
  bottom: -1px;
  width: 100%;
  height: 20px;  
  background-color: #00d8a7;  
   border-radius: 20px;  
   opacity: .5;
      
}
.image-grid {
  display: flex;
  justify-content: space-between;
}

.left_grid{
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  margin-right: 20px;
}
.description{
  width: 100%;

}
.left_grid p{
  font-size: 16px;
  font-weight: 400px;
  color: #5b5858;
  margin-bottom: 20px;
}

.left_grid .description_grid{
  background: #fac971;
  height: 400px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  text-align: center;

}

.description_grid h2{
  
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 40px;
}

.description_grid h3{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.description_grid p{
  font-size: 14px;
  font-weight: 500;
 }
.btn{
  width: 100%;
text-align: center; 
}
.read_more {
  background: #fff;
  color: #6200ea;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-left: 10px;
  transition: all ease .5s;

}


.read_more:hover {
  color: #fff;
  background: #6200ea;
   
}


.right_grid{
  width: 80%;
  display: flex;
  flex-direction: column;

}

.top_grid{
  display: flex;
  justify-content: space-between;
 }

.top_grid .right{
  width: 60%;
  background: #00d8a7;
  height: 300px;
border-radius: 10px;
 display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
font-weight:700;
color: #fff;
margin: 20px;
 }

.top_grid .left{
  width: 40%;
margin: 10px;
 
 }

.top_grid .left p{
  font-size: 14px;
  font-weight: 500;
  margin-top: 50px;

}

.card {
  display: flex;
align-items: center;
justify-content: space-between;
gap: 20px;
}

.card .card-image{
  width: 50%;
  height: 200px;
   border-radius: 10px;
  margin-top: 20px;
 }
.card_one{
  background: #a29cfd;

}
.card_two{
  background: #2e8efe;

}
 .bottom_grid{
  display: flex;
  justify-content: space-between;
  gap: 20px;
 }

 .content{
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 20px;
 }
 .bottom_grid .card_left{
  background: #ff4081;
  width: 40%;
  height: 225px;
  border-radius: 10px;
  margin-left: 20px;
 }
 

 .bottom_grid .card_center{
  background: #6d60e8;
  width: 60%;
  height: 300px;
  border-radius: 10px;
  display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
font-weight:700;
color: #fff;
animation: moveRight 5s linear infinite;

 }
 
 @keyframes moveRight {
  0%,100%{
    transform: translateY(10px);
  }
  50%{
   transform: translateY(-10px);

  }
}
 .bottom_grid .card_right{
  background: #fa7473;
  width: 20%;
  height: 200px;
  border-radius: 10px;
 
 }


 @media (max-width: 768px){

  /* ==================Hero==================== */

.hero {
  background: #fff;
  padding: 0px !important;
}
.banner{
  padding: 40px 60px;
  text-align: center;
 
}
.hero h1{
  font-size: 30px;
  font-weight: 800;
}
.hero p{
  font-size: 12px;
  font-weight: 600;
}
.hero .highlight {
  color: #ff4081;
  position: relative;
}
.highlight span{
  position: relative;
  z-index: 1;
}
 .highlight::before {
  content: '';
  position: absolute;
  left: -2px;
  bottom: 0px;
  width: 100%;
  height: 15px;  
  background-color: #00d8a7;  
   border-radius: 20px;  
      
}
.image-grid {
  display: flex;
  justify-content: space-between;
}

.left_grid{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 5px;
  margin-right: 10px;
}
.description{
  width: 100%;

}
.left_grid p{
  opacity: 0;
}

.left_grid .description_grid{
  height: 200px;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;


}

.description_grid h2{
  
  display: none;
}

.description_grid h3{
display: none;
}
.description_grid p{
 display: none;
 }
 
.read_more {
  background: #000;
  color: #fff;
  margin-top: 10px;
  font-size: 10px;

 }



.right_grid{
  width: 70%;
}

.top_grid{
  display: flex;
  justify-content: space-between;
 }

.top_grid .right{
  width: 70%;
  background: #00d8a7;
  height: 200px;
 margin: 10px;
 border-radius: 5px;
 }

.top_grid .left{
  width: 30%;
margin: 0px;
 
 }

.top_grid .left p{
  display: none;

}

.card {
   
 flex-direction: column;
 gap: 5px;
}

.card .card-image{
  width:100%;
  height: 90px;
   border-radius: 5px;
  margin-top: 10px;
  margin-right: 5px;

 }
.card_one{
  background: #a29cfd;

}
.card_two{
  background: #2e8efe;
 
}
 .bottom_grid{
  gap: 5px;
   margin-left: 5px;
 }

  
  
 .content{
  flex-direction: column;
    margin-left: 5px;
width: 40%;
gap: 10px;
  }
 .bottom_grid .card_left{
  background: #ff4081;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  margin-left: 0px;

 }
 .bottom_grid .card_center{
  background: #6d60e8;
  width: 100%;
  height: 100px;
  border-radius: 5px;
 
color: #fff;
 }
 .title{
  display: none;
 }
 
 .bottom_grid .card_right{
  background: #fa7473;
  width: 60%;
  height: 100px;
  border-radius: 5px;
  margin-right: 5px;
 
 }

 }





 @media (max-width: 1200px){
  .back{
    display: none;
  }
  
  }
  @media (max-width: 375px){

    .highlight span{
       z-index: 0;
    }
  }

  
  